<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dataBase" connectionString="Data Source=localhost;Initial Catalog=PayRollPal_BD;Persist Security Info=True;User ID=sa;Password=Sarah2022br,"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>